body{
    background-color: #615fec;
}


.main{
    width: 500px;
    padding : 2rem;
}

#textField {
    padding : 6px 12px;
    margin-bottom: 1rem;
    border-radius: 4px;
    outline: none;
}

.small{
    height: 40px;
    width: 40px;
    padding : .5rem;
    margin: 4px;
}

